.leaflet-container {
}

.remove-marker {
  background-color: var(--red);
  padding: 0.4rem;
  color: var(--light-grey);
  border-radius: var(--common-border-radius);
  transition: var(--main-transition);
}

.remove-marker:hover {
  background-color: var(--red-light);
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
